@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

:root {
  --primary: #F4D04E;
  --gray-950: #111;
  --gray-500: #6B6B6B;
  --white: #FFF;
}

body {
  background-color: var(--primary);
  color: var(--gray-950);
  font-family: 'Figtree';
}